/*page layouts*/
/*@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700);*/

	html *
	{
		/*font-family: "Karla", serif;*/
		font-family: "Arial", serif;
	}

	a {
		text-decoration: none;
	}

	.link{
		color: #EE7E48;
	}

	section{
		min-height:100px;
	}

	.line{
		border-top: 1px solid #E6E6E6;
		margin: 0px auto;
	}

	h2{
		font-size:2em;
		font-weight:700;
		margin-top:0;
	}

	h3{
		margin:0;
		color:orange;
	}

	p{
		line-height:1.2em;
		color: #4A4A4A;
	}


	button {
		font-size: 0.9em !important;
	}

	button.button-orange{
	    background-color: rgb(237, 120, 68);
	}

	.pure-button.button-white{
	    background-color: rgba(0,0,0,0);
	    color: white;
	    border: 1px solid white;
	}

	.pure-button.button-white:hover{
	    background-color: rgba(255,255,255,1);
	    color: #EE7E48;
	    border: 1px solid white;
	    background-image:none;
	}	

	.pure-button.orange-outline{
	    background-color: rgba(0,0,0,0);
	    color: rgb(237, 120, 68);
	    border: 1px solid rgb(237, 120, 68);
	}	

	.pure-button.orange-outline:hover{
	    background-color: rgb(237, 120, 68);
	    color: white;
	    background-image:none;
	}		



/*navbar*/

	nav{
		background-color: white;
		position:fixed;
		width:100%;
		padding:30px auto 0 auto;
		border-bottom: 1px solid #E0E0E0;
		height:60px;
	}

	.nav-list{
		text-decoration:none;
	    list-style-type: none;
		vertical-align: center;
	    padding: 0;	
	}

	.nav-list li{
		display:inline-block;
		padding: 0 20px;
		color:#4A4A4A;
		font-size:0.9em;
		vertical-align: center;
	}

	.nav-list li:hover{
		color:orange;
	}

	#logo-bird{
		width:80px;
	}


/* styling */

	.background-gray{
		background-color: #F9F9F9;
	}

	.background-orange{
		background-color: #EE7E48;
	}
	.width-restricted{
		max-width:48em;
	}

	.vertical-align-top{
		vertical-align: top;
	}

	.txt-white{
		color:white;
	}


/*responsive*/
/* sm and below */

	.center{
		margin: 0 auto;
		text-align: center;
	}

	.left-align{
		text-align: left;
	}

	.right-align{
		text-align: right;
	}

	.max-height{
		height:100%;
		overflow:hidden;
	}


@media screen and (max-width:35.5em) {
	.sm-invisible{
		display:none !important;
	}
}

/* sm + */
@media screen and (min-width:35.5em) {
	.sm-plus-left-align{
		text-align: left !important;
	}

	.sm-plus-right-align{
		text-align: right !important;
	}

}

/* md and below */
@media screen and (max-width:48em) {
	.md-below-invisible{
		display:none !important;
	}

	.md-below-left-align{
		text-align: left !important;
	}

	.md-below-center-align{
		text-align: center !important;
	}

	.md-below-right-align{
		text-align: right !important;
	}
	
	.width-restricted{
		padding: 0 2em;
	}
}


/* md + */
@media screen and (min-width:48em) {
	.md-plus-left-align{
		text-align: left !important;
	}

	.md-plus-right-align{
		text-align: right !important;
	}	

	.md-plus-invisible{
		display: none !important;
	}



}

/* lg + */








